@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff8a65;
  padding: 8px 12px;
  border: 1px solid #ff8a65;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination li a:hover {
  background-color: #ffcebf;
}

.pagination li.active a {
  background-color: #ff8a65;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ff8a65;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffcebf;
}

.custom-shadow {
  transition: box-shadow 0.3s ease-in-out;
}

.custom-shadow:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}


